<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from gambolthemes.net/html-items/cursus_main_demo/sign_up.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 May 2022 15:07:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>@ViewBag.Title</title>

    <link rel="icon" type="image/png" href="images/fav.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>
    <link href='@Url.Content("~/Content/client_vendor/unicons-2.0.1/css/unicons")' rel='stylesheet'>
    <link href="@Url.Content("~/Content/client_css/vertical-responsive-menu.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/client_css/style.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/client_css/responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/client_css/night-mode.css")" rel="stylesheet">

    <link href="@Url.Content("~/Content/client_vendor/fontawesome-free/css/all.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/client_vendor/OwlCarousel/assets/owl.carousel.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/client_vendor/OwlCarousel/assets/owl.theme.default.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/client_vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/client_vendor/semantic/semantic.min.css")">
</head>
<body>

    @RenderBody()

    <script src="@Url.Content("~/Content/client_js/jquery-3.3.1.min.js")"></script>
    <script src="@Url.Content("~/Content/client_vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/Content/client_vendor/OwlCarousel/owl.carousel.js")"></script>
    <script src="@Url.Content("~/Content/client_vendor/semantic/semantic.min.js")"></script>
    <script src="@Url.Content("~/Content/client_js/custom.js")"></script>
    <script src="@Url.Content("~/Content/client_js/night-mode.js")"></script>
    @RenderSection("scripts", required: false)
</body>

<!-- Mirrored from gambolthemes.net/html-items/cursus_main_demo/sign_up.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 18 May 2022 15:07:39 GMT -->
</html>
