@model FCourse.Models.Level

@{
    ViewBag.Title = "Admin-Level Edit";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="col-xl-12">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="widget has-shadow">
            <div class="widget-header bordered no-actions d-flex align-items-center">
                <h4>Edit Level #@Html.DisplayFor(model => model.Id)</h4>
            </div>
            <div class="widget-body">
                
                <form class="form-horizontal">
                    <div class="form-group row d-flex align-items-center mb-5">
                        <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Id</label>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        </div>
                    </div>
                    <div class="form-group row d-flex align-items-center mb-5">
                        <label class="col-lg-2 form-control-label d-flex justify-content-lg-end">Name</label>
                        <div class="col-lg-6">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </form>

                <div class="em-separator separator-dashed"></div>
                <div class="text-left">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
