@model PagedList.IPagedList<FCourse.Models.User>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<style>
    .pagination-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .pagination-container ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden; /*background-color: #333;*/
        }

        .pagination-container li {
            float: left;
            border-right: 1px solid #bbb;
        }

            .pagination-container li:last-child {
                border-right: none;
            }

            .pagination-container li a {
                display: block;
                color: Black;
                text-align: center;
                padding: 8px 10px;
                text-decoration: none;
            }

                .pagination-container li a:hover:not(.active) {
                    background-color: white;
                }

        .pagination-container .active {
            background-color: white;
        }
</style>

<div class="col-xl-12">
    <div class="widget has-shadow">
        <div class="widget-body">
            @using (Html.BeginForm("Index", "Users", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-lg-4">
                        <label class="form-control-label">Search by Id</label>
                        <div class="">
                            @Html.TextBox("id", ViewBag.Id as string, new { @class = "form-control", placeholder = "Find by id" })
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-control-label">Search by keyword</label>
                        <div class="">
                            @Html.TextBox("keyword", ViewBag.Keyword as string, new { @class = "form-control", placeholder = "Find by keyword" })
                        </div>
                    </div>
                    <div class="col-lg-4 text-right">
                        <div style="height:28px"></div>
                        <div>
                            <button type="submit" class="btn btn-primary mr-1 mb-2">Search</button>
                            <button type="reset" class="btn btn btn-outline-secondary mr-1 mb-2"><a href="/Users">Clear</a></button>
                        </div>

                    </div>
                </div>
            }


        </div>
    </div>
    <!-- Default -->
    <div class="widget has-shadow">
        <div class="widget-body">
            <div class="table-responsive">
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th width="20%">Id</th>
                            <th>Username</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><span class="text-primary">@Html.DisplayFor(modelItem => item.Id)</span></td>
                                <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                <td class="td-actions">
                                    <a href="@Url.Action("Details", "Users", new { id = item.Id })">
                                        <i class="ion ion-information"></i>
                                    </a>
                                    <a href="@Url.Action("Edit", "Users", new { id = item.Id })">
                                        <i class="ion ion-edit"></i>
                                    </a>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
                @Html.PagedListPager(Model, page => Url.Action("Index",
                            new { id = ViewBag.Id, sortType = ViewBag.SortType, keyword = ViewBag.Keyword, categoryId = ViewBag.CategoryId, levelId = ViewBag.LevelId, page }),
                            new PagedListRenderOptions
                            {
                                DisplayLinkToIndividualPages = true,
                                DisplayPageCountAndCurrentLocation = false,
                                MaximumPageNumbersToDisplay = 10,
                                LinkToFirstPageFormat = "««",
                                LinkToPreviousPageFormat = "«",
                                LinkToIndividualPageFormat = "{0}",
                                LinkToNextPageFormat = "»",
                                LinkToLastPageFormat = "»»",
                                ContainerDivClasses = new string[] { "pagination-container mt-3" },
                                UlElementClasses = new string[] { "pagination" },
                                LiElementClasses = new string[] { "page-item" }
                            })
            </div>
        </div>
    </div>
    <!-- End Default -->
</div>

@section Scripts{
    <script src="~/Content/admin_vendor/js/bootstrap-select/bootstrap-select.min.js"></script>

}