@model IEnumerable<FCourse.Models.Course>

@{
    ViewBag.Title = "FCourse - Explore";
    Layout = "~/Views/Shared/_LayoutPageClient.cshtml";
}

<div class="sa4d25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12 col-lg-8">
                <div class="section3125">
                    <div class="explore_search">
                        <div class="ui search focus">
                            <div class="ui left icon input swdh11">
                                <input class="prompt srch_explore" type="text" placeholder="Search for Course, Tutors and more..">
                                <i class="uil uil-search-alt icon icon2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="_14d25">
                    <div class="row">
                        @foreach (var course in Model)
                        {
                            <div class="col-lg-3 col-md-4">
                                <div class="fcrse_1 mt-30">
                                    <a href="/Home/Detail/?id=@course.Id" class="fcrse_img">
                                        <img src="@course.Thumbnail" alt="">
                                        <div class="course-overlay">
                                            <div class="badge_seller">@course.Level.Name</div>
                                            <div class="crse_reviews">
                                                <i class="uil uil-star"></i>@course.Rating
                                            </div>
                                            <span class="play_btn1"><i class="uil uil-play"></i></span>
                                            <div class="crse_timer">
                                                @{
                                                    var courseHour = Math.Round(course.Duration / 3600);
                                                }
                                                @courseHour hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <span><i class='uil uil-share-alt'></i>Share</span>
                                                <span><i class="uil uil-heart"></i>Save</span>
                                                <span><i class='uil uil-ban'></i>Not Interested</span>
                                                <span><i class="uil uil-windsock"></i>Report</span>
                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                        </div>
                                        <a href="course_detail_view.html" class="crse14s">@course.Name</a>
                                        <a href="#" class="crse-cate">@course.Category.Name</a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">By <a href="#">@course.Teacher.Name</a></p>
                                            <div class="prce142">@course.Price</div>
                                            <button class="shrt-cart-btn" title="cart"><i class="uil uil-shopping-cart-alt"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>