@model IEnumerable<FCourse.Models.Course>

@{
    ViewBag.Title = "FCourse - Home";
    Layout = "~/Views/Shared/_LayoutPageClient.cshtml";
}

<style>
    .fit-img {
        width: 250px;
        height: 120px;
        object-fit: cover;
    }
</style>
<div class="sa4d25">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="section3125 mt-50">
                    <h4 class="item_title">Featured Courses</h4>
                    <a href="#" class="see150">See all</a>
                    <div class="la5lo1">
                        <div class="owl-carousel featured_courses owl-theme">
                            @foreach (var course in Model)
                            {
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <a href="/Home/Detail/?id=@course.Id" class="fcrse_img">
                                            <img src="@course.Thumbnail" alt="" class="fit-img">
                                            <div class="course-overlay">
                                                <div class="badge_seller">@course.Level.Name</div>
                                                <div class="crse_reviews">
                                                    <i class='uil uil-star'></i>@course.Rating
                                                </div>
                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                <div class="crse_timer">
                                                    @{
                                                        var courseHour = Math.Round(course.Duration / 3600);
                                                    }
                                                    @courseHour hours
                                                </div>
                                            </div>
                                        </a>
                                        <div class="fcrse_content">
                                            <div class="eps_dots more_dropdown">
                                                <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                                                <div class="dropdown-content">
                                                    <span><i class='uil uil-share-alt'></i>Share</span>
                                                    <span><i class="uil uil-heart"></i>Save</span>
                                                    <span><i class='uil uil-ban'></i>Not Interested</span>
                                                    <span><i class="uil uil-windsock"></i>Report</span>
                                                </div>
                                            </div>
                                            <div class="vdtodt">
                                                <span class="vdt14">109k views</span>
                                                <span class="vdt14">15 days ago</span>
                                            </div>
                                            <a href="#" class="crse14s">
                                                @course.Name
                                            </a>
                                            <a href="#" class="crse-cate">@course.Category.Name</a>
                                            <div class="auth1lnkprce">
                                                <p class="cr1fot">By <a href="#">@course.Teacher.Name</a></p>
                                                <div class="prce142">$@course.Price</div>
                                                <a href="#" class="shrt-cart-btn addToCart " title="cart" data-id="@course.Id">
                                                    <i class="uil uil-shopping-cart-alt">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="section3125 mt-30">
                    <h4 class="item_title">Newest Courses</h4>
                    <a href="#" class="see150">See all</a>
                    <div class="la5lo1">
                        <div class="owl-carousel featured_courses owl-theme">
                            @foreach (var course in Model.OrderBy(x => x.CreatedAt))
                            {
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <a href="/Home/Detail/?id=@course.Id" class="fcrse_img">
                                            <img src="@course.Thumbnail" alt="" class="fit-img">
                                            <div class="course-overlay">
                                                <div class="badge_seller">@course.Level.Name</div>
                                                <div class="crse_reviews">
                                                    <i class='uil uil-star'></i>@course.Rating
                                                </div>
                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                <div class="crse_timer">
                                                    @{
                                                        var courseHour = Math.Round(course.Duration / 360);
                                                    }
                                                    @courseHour hours
                                                </div>
                                            </div>
                                        </a>
                                        <div class="fcrse_content">
                                            <div class="eps_dots more_dropdown">
                                                <a href="#"><i class='uil uil-ellipsis-v'></i></a>
                                                <div class="dropdown-content">
                                                    <span><i class='uil uil-share-alt'></i>Share</span>
                                                    <span><i class="uil uil-heart"></i>Save</span>
                                                    <span><i class='uil uil-ban'></i>Not Interested</span>
                                                    <span><i class="uil uil-windsock"></i>Report</span>
                                                </div>
                                            </div>
                                            <div class="vdtodt">
                                                <span class="vdt14">109k views</span>
                                                <span class="vdt14">15 days ago</span>
                                            </div>
                                            <a href="#" class="crse14s">
                                                @course.Name
                                            </a>
                                            <a href="#" class="crse-cate">@course.Category.Name</a>
                                            <div class="auth1lnkprce">
                                                <p class="cr1fot">By <a href="#">@course.Teacher.Name</a></p>
                                                <div class="prce142">$@course.Price</div>
                                                <a href="#" class="shrt-cart-btn addToCart " title="cart" data-id="@course.Id">
                                                    <i class="uil uil-shopping-cart-alt">
                                                    </i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="section3126">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12 col-md-6">
                            <div class="value_props">
                                <div class="value_icon">
                                    <i class='uil uil-history'></i>
                                </div>
                                <div class="value_content">
                                    <h4>Go at your own pace</h4>
                                    <p>Enjoy lifetime access to courses on Edututs+'s website</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-6">
                            <div class="value_props">
                                <div class="value_icon">
                                    <i class='uil uil-user-check'></i>
                                </div>
                                <div class="value_content">
                                    <h4>Learn from industry experts</h4>
                                    <p>Select from top instructors around the world</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-6">
                            <div class="value_props">
                                <div class="value_icon">
                                    <i class='uil uil-play-circle'></i>
                                </div>
                                <div class="value_content">
                                    <h4>Find video courses on almost any topic</h4>
                                    <p>Build your library for your career and personal growth</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-6">
                            <div class="value_props">
                                <div class="value_icon">
                                    <i class='uil uil-presentation-play'></i>
                                </div>
                                <div class="value_content">
                                    <h4>100,000 online courses</h4>
                                    <p>Explore a variety of fresh topics</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section3125 mt-50">
                    <h4 class="item_title">Popular Instructors</h4>
                    <a href="all_instructor.html" class="see150">See all</a>
                    <div class="la5lo1">
                        <div class="owl-carousel top_instrutors owl-theme">
                            @foreach (var teacher in ViewBag.TeacherList)
                            {
                                <div class="item">
                                    <div class="fcrse_1 mb-20">
                                        <div class="tutor_img">
                                            <a href="instructor_profile_view.html">
                                                <img src="@teacher.Thumbnail"
                                                     alt="">
                                            </a>
                                        </div>
                                        <div class="tutor_content_dt">
                                            <div class="tutor150">
                                                <a href="instructor_profile_view.html" class="tutor_name">@teacher.Name</a>
                                                <div class="mef78" title="Verify">
                                                    <i class="uil uil-check-circle"></i>
                                                </div>
                                            </div>
                                            <div class="tutor_cate">Wordpress &amp; Plugin Tutor</div>
                                            <ul class="tutor_social_links">
                                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                            <div class="tut1250">
                                                <span class="vdt15">100K Students</span>
                                                <span class="vdt15">15 Courses</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="right_side">
                    @if (ViewBag.UserId != null)
                    {
                    <div class="fcrse_2 mb-30">
                        <div class="tutor_img">
                            <a href="my_instructor_profile_view.html"><img src="https://res.cloudinary.com/nmqdec6/image/upload/v1654323387/444_v2mbh2.png" alt=""></a>
                        </div>
                        <div class="tutor_content_dt">
                            <div class="tutor150">
                                <a href="my_instructor_profile_view.html" class="tutor_name">@ViewBag.UserName</a>
                                <div class="mef78" title="Verify">
                                    <i class="uil uil-check-circle"></i>
                                </div>
                            </div>
                            <div class="tutor_cate"></div>
                            <ul class="tutor_social_links">
                                <li><a href="#" class="fb"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="tw"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="ln"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#" class="yu"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                            <div class="tut1250">
                            </div>
                            <a href="/Home/UserProfile" class="prfle12link">Go To Profile</a>
                        </div>
                    </div>
                    }

                        

                    <div class="fcrse_3">
                        <div class="cater_ttle">
                            <h4>Top Categories</h4>
                        </div>
                        <ul class="allcate15">
                            @foreach (var category in ViewBag.CategoryList)
                            {
                                <li><a href="/Home/Explore?keyword=&categoryId=@category.Id&levelId=" class="ct_item"><i class='uil uil-arrow'></i>@category.Name</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12">
                <div class="section3125 mt-30">
                    <h4 class="item_title">What Our Student Have Today</h4>
                    <div class="la5lo1">
                        <div class="owl-carousel Student_says owl-theme">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            "Donec ac ex eu arcu euismod feugiat. In venenatis bibendum nisi, in
                                            placerat eros ultricies vitae. Praesent pellentesque blandit
                                            scelerisque. Suspendisse potenti."
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">

                                            <img src="@Url.Content("~/Content/client_img/left-imgs/img-4.jpg")" alt="">
                                        </div>
                                        <h4>Jassica William</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            "Cras id enim lectus. Fusce at arcu tincidunt, iaculis libero quis,
                                            vulputate mauris. Morbi facilisis vitae ligula id aliquam. Nunc
                                            consectetur malesuada bibendum."
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="@Url.Content("~/Content/client_img/left-imgs/img-1.jpg")" alt="">
                                        </div>
                                        <h4>Rock Smith</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent
                                            taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                                            himenaeos eros ac, sagittis orci."
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="@Url.Content("~/Content/client_img/left-imgs/img-7.jpg")" alt="">
                                        </div>
                                        <h4>Luoci Marchant</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            "Nulla bibendum lectus pharetra, tempus eros ac, sagittis orci.
                                            Suspendisse posuere dolor neque, at finibus mauris lobortis in.
                                            Pellentesque vitae laoreet tortor."
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="@Url.Content("~/Content/client_img/left-imgs/img-6.jpg")" alt="">
                                        </div>
                                        <h4>Poonam Sharma</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            "Curabitur placerat justo ac mauris condimentum ultricies. In magna
                                            tellus, eleifend et volutpat id, sagittis vitae est. Pellentesque vitae
                                            laoreet tortor."
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="@Url.Content("~/Content/client_img/left-imgs/img-3.jpg")" alt="">
                                        </div>
                                        <h4>Davinder Singh</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>