@model FCourse.Models.Course
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=9">
    <meta name="description" content="Gambolthemes">
    <meta name="author" content="Gambolthemes">
    <title>Learning - @Model.Name</title>

    @*<link rel="icon" type="image/png" href="@Url.Content("~/Content/client_img/fav.png")">*@

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,500" rel='stylesheet'>

    <link rel="stylesheet" href="@Url.Content("~/Content/client_vendor/unicons-2.0.1/css/unicons.css")" media="screen" type="text/css" />

    <link rel="stylesheet" href="@Url.Content("~/Content/client_css/vertical-responsive-menu.min.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/client_css/style.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/client_css/responsive.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/client_css/night-mode.css")" media="screen" type="text/css" />

    <link rel="stylesheet" href="@Url.Content("~/Content/client_vendor/fontawesome-free/css/all.min.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/client_vendor/OwlCarousel/assets/owl.carousel.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/client_vendor/OwlCarousel/assets/owl.theme.default.min.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/client_vendor/bootstrap/css/bootstrap.min.css")" media="screen" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/client_vendor/semantic/semantic.min.css")" media="screen" type="text/css" />
</head>
<body>
    <div class="d-flex">
        <div class="lecture-sidebar">
            <div class="mb-5">
                <div class="back_link">
                    <a href="/" class="hde151">Back To FCourse</a>
                    <a href="/" class="hde152">Back</a>
                </div>
            </div>
            <h4 class="p-4 lecture-sidebar-course-title">@Model.Name</h4>
            <div class="lecture-sidebar-curriculum-wrap">
                <div class="course-course-section">
                    <div class="section-header pp-2 d-flex">
                        <span class="section-name flex-grow-1 ms-2 d-flex">
                        </span>
                    </div>
                    @if (ViewBag.SectionList != null && ViewBag.SectionCount > 0)
                    {
                        foreach (var item in ViewBag.SectionList)
                        {
                            <div class="sidebar-section-item">
                                <div class="section-item-title">
                                    <a href="#" class="pp-2 d-flex">
                                        @if (item.Type == 0)
                                        {
                                            string idVideo = item.Content;
                                            string name = item.Name;
                                            string idSection = item.Id;
                                            <span class="lecture-status-icon pr-1">
                                                <i class="uil uil-play-circle icon_142"></i>
                                            </span>
                                            <div id=@idVideo data-name="@name" data-id="@idSection" class="title-container pl-2 flex-grow-1 d-flex" onclick="playSectionVideo(this)">
                                                <span class="lecture-name flex-grow-1">
                                                    @{
                                                        TimeSpan time = TimeSpan.FromSeconds(item.Duration);
                                                        string str = time.ToString(@"mm\:ss");
                                                    }
                                                    @item.Name <small>(@str)</small>
                                                </span>
                                            </div>
                                        }
                                        else
                                        {
                                            <span class="lecture-status-icon pr-1">
                                                <i class="uil uil-file icon_142"></i>
                                            </span>
                                            <div class="title-container pl-2 flex-grow-1 d-flex">
                                                <span class="lecture-name flex-grow-1">
                                                    @item.Name
                                                </span>
                                            </div>
                                        }
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="lecture-container">

            <h2 class="lecture-title mb-4" id="lecture-title"></h2>

            <div class="lecture-content-inner mt-35">
                <div class="lecture-content-inner-video">
                    <div class="video-responsive">
                        <div id="existing-iframe">

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <script src="~/Content/client_vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/client_vendor/OwlCarousel/owl.carousel.js"></script>
    <script src="~/Content/client_vendor/semantic/semantic.min.js"></script>
    <script src="~/Content/client_js/custom.js"></script>
    <script src="~/Content/client_js/night-mode.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="text/javascript">
        var currentPlaySection = "";
        var userId = '@ViewBag.UserId'

        console.log(userId)
        var tag = document.createElement('script');
        tag.id = 'iframe-demo';
        tag.src = 'https://www.youtube.com/iframe_api';
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('existing-iframe', {
                playerVars: {
                    'playsinline': 1,
                    'enablejsapi': 1
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange,
                }
            });
        }

        function onPlayerReady(event) {
            event.target.playVideo();
            console.log("vid dai: " + player.getDuration() + "s")
        }
        var done = false;
        function onPlayerStateChange(event) {
            if (event.data == -1 && !done) {
                console.log("vid unstarted: " + player.getCurrentTime())
            }
            if (event.data == YT.PlayerState.CUED && !done) {
            }
            if (event.data == YT.PlayerState.BUFFERING && !done) {
            }
            if (event.data == YT.PlayerState.PLAYING && !done) {
                console.log("vid play tai: " + player.getCurrentTime())
            }
            if (event.data == YT.PlayerState.PAUSED && !done) {
                console.log("vid pause tai: " + player.getCurrentTime())
                pauseSectionVideo(player.getCurrentTime())
            }
            if (event.data == YT.PlayerState.ENDED && !done) {
                console.log("vid end tai: " + player.getCurrentTime())
                endSectionVideo()
            }
        }
        function loadVideoById(id, startAt) {
            player.cueVideoById(id, startAt);
        }

        function endSectionVideo() {
            $.ajax({
                type: "Get",
                url: "/Home/EndUserSection",
                data: {
                    userId: userId,
                    sectionId: currentPlaySection
                }
            });
        }

        function pauseSectionVideo(pausedAt) {
            $.ajax({
                type: "Get",
                url: "/Home/UpdateUserSection",
                data: {
                    userId: userId,
                    sectionId: currentPlaySection,
                    pausedAt: pausedAt
                }
            });
        }

        function playSectionVideo(obj) {
            var id = obj.id;
            var name = obj.getAttribute("data-name");
            var idSection = obj.getAttribute("data-id");
            currentPlaySection = idSection;
            document.getElementById("lecture-title").innerHTML = "Section: " + name;
            $.ajax({
                type: "Get",
                url: "/Home/GetUserSection",
                data: {
                    userId: userId,
                    sectionId: currentPlaySection
                },
                success: function (pausedAt) {
                    loadVideoById(id, pausedAt);
                }
            });

        }
    </script>
</body>
</html>